<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <atom:link href="https://shopware.darwinpricing.com/en/trends-news/?sRss=1" rel="self" type="application/rss+xml" />
        <title>Blog / RSS Feed</title>
        <link>https://shopware.darwinpricing.com/en/</link>
        <description>English - Trends + News</description>
        <language>de-de</language>
        <lastBuildDate>Wed, 04 Oct 2017 21:59:45 +0200</lastBuildDate>
            <item>
            <title>The summer will be colorful</title>
            <guid>https://shopware.darwinpricing.com/en/trends-news/the-summer-will-be-colorful</guid>
            <link>https://shopware.darwinpricing.com/en/trends-news/the-summer-will-be-colorful</link>
            <description>This summer is going to be colorful. Brightly colored clothes are the must-have for every style-conscious woman.</description>
            <category>Trends + News</category>
                            <pubDate>Fri, 01 Jun 2012 11:00:00 +0200</pubDate>
                    </item>
            <item>
            <title>Sun cream - Be part of the crème de la crème</title>
            <guid>https://shopware.darwinpricing.com/en/trends-news/sun-cream-be-part-of-the-creme-de-la-creme</guid>
            <link>https://shopware.darwinpricing.com/en/trends-news/sun-cream-be-part-of-the-creme-de-la-creme</link>
            <description>Beach, sea and sun - Do you also enjoy the summer? We hope so! But beware: Every holiday is in danger when you notice that your skin is stretched and reddened after a long sun bath</description>
            <category>Trends + News</category>
                            <pubDate>Fri, 01 Jun 2012 08:00:00 +0200</pubDate>
                    </item>
            <item>
            <title>I pack my bag …</title>
            <guid>https://shopware.darwinpricing.com/en/trends-news/i-pack-my-bag</guid>
            <link>https://shopware.darwinpricing.com/en/trends-news/i-pack-my-bag</link>
            <description>Holidays are the best time of the year. Whether sun, sea and beach or hiking in the mountains- It is supposed to be a nice and relaxing time with the family or the partner.</description>
            <category>Trends + News</category>
                            <pubDate>Wed, 30 May 2012 07:00:00 +0200</pubDate>
                    </item>
        </channel>
</rss>
