<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <atom:link href="https://shopware.darwinpricing.com/trends-news/?sRss=1" rel="self" type="application/rss+xml" />
        <title>Blog / RSS Feed</title>
        <link>https://shopware.darwinpricing.com/</link>
        <description>Shopware Demo - Trends + News</description>
        <language>de-de</language>
        <lastBuildDate>Wed, 04 Oct 2017 06:48:00 +0200</lastBuildDate>
            <item>
            <title>Der Sommer wird bunt</title>
            <guid>https://shopware.darwinpricing.com/trends-news/der-sommer-wird-bunt</guid>
            <link>https://shopware.darwinpricing.com/trends-news/der-sommer-wird-bunt</link>
            <description>Diesen Sommer heißt es „Mut zur Farbe“. Denn knallbunte Kleidungsstücke sind der absolute Renner bei stilbewussten Frauen. Egal ob zitronengelbes Top, grasgrüne Chinohose oder pinke Clutch - Damit werden Sie auf jeden Fall ein Blickfang sein. Und dieses Jahr gehen wir sogar no...</description>
            <category>Trends + News</category>
                            <pubDate>Wed, 22 Aug 2012 11:00:00 +0200</pubDate>
                    </item>
            <item>
            <title>Sonnenschutz - so gehören Sie zur Crème de la Crème</title>
            <guid>https://shopware.darwinpricing.com/trends-news/sonnenschutz-so-gehoeren-sie-zur-creme-de-la-creme</guid>
            <link>https://shopware.darwinpricing.com/trends-news/sonnenschutz-so-gehoeren-sie-zur-creme-de-la-creme</link>
            <description>Sonnencreme richtig auftragen – Darauf müssen Sie achten Strand , Meer und Sonne - Genießen Sie auch den Sommer? Das hoffen wir natürlich! Doch Vorsicht: Jeder Urlaub ist in Gefahr, wenn Sie nach dem Sonnenbaden feststellen, dass Ihre Haut spannt und gerötet ist. Die Rede ist ...</description>
            <category>Trends + News</category>
                            <pubDate>Sat, 18 Aug 2012 08:00:00 +0200</pubDate>
                    </item>
            <item>
            <title>Ich packe meinen Koffer…</title>
            <guid>https://shopware.darwinpricing.com/trends-news/ich-packe-meinen-koffer</guid>
            <link>https://shopware.darwinpricing.com/trends-news/ich-packe-meinen-koffer</link>
            <description>Der Urlaub ist die schönste Zeit im Jahr. Ob Sonne, Strand und Meer oder wandern im Gebirge - Es soll eine schöne und erholsame Zeit mit der Familie oder dem Partner werden. Damit diese nicht zum Albtraum wird und die Vorbereitungen nicht in puren Stress ausarten, sollten rech...</description>
            <category>Trends + News</category>
                            <pubDate>Wed, 08 Aug 2012 07:00:00 +0200</pubDate>
                    </item>
        </channel>
</rss>
